.dropdown-adj {
  left: -80px !important;
}
.cardLockTitle {
  max-width: 90%;
  min-width: 90%;
  max-height: 70px;
  min-height: 70px;
}
.cards-contain {
  background-color: #202020;
  object-fit: cover;
  max-width: 400px;
  max-height: 200px;
  min-height: 200px;
  border: 4px solid #101010;
}
.width150{
  min-width: 150px;
  max-width: 150px;
}
.card-adj{
  display: inline-block;
  padding-top: 30px !important;
}
.darkRed{
  color: #CC3333;
}
.drop-shadow {
  font-size: 48px;
  text-shadow: 2px 2px 5px black;
}
.antiTextDecor {
  text-decoration: none !important;
  text-decoration-color: black;
}
